p{
color:red;
width:500px;
border:none;
border-color: blue;  

}

li{
    color:green;
}

h1{
    text-align: center;
    font-size: 50px;
    color:blue;
}
html{
    font-family: inherit;
    background-color: #FF9500;
    
}
body{
    background-color: aqua;
    border:5px solid black;
   font-family:sans-serif;
     font-size:50px 
    width :600px;
    padding:0 20px 20px 20px;
    
}
img{
    display: block;
    margin:0 auto;
}